<div class="container">
    <div class="main-content">
        <div class="dashboard-block mt-1">
            <h3 class="block-title">Mes Annonces</h3>
              <nav class="list-nav">
                <ul>
                  <li [ngClass]="{ 'active': selectedStatus === 'ALL' }">
                    <a href="javascript:void(0)" (click)="filterByStatus('ALL')">ALL <span> {{ reclamations.length }}</span></a>
                  </li>
                  <li [ngClass]="{ 'active': selectedStatus === 'APPROVED' }">
                    <a href="javascript:void(0)" (click)="filterByStatus('APPROVED')">APPROVED <span> {{ approvedCount }}</span></a>
                  </li>
                  <li [ngClass]="{ 'active': selectedStatus === 'PENDING' }">
                    <a href="javascript:void(0)" (click)="filterByStatus('PENDING')">PENDING <span>{{ pendingCount }}</span></a>
                  </li>
                  <li [ngClass]="{ 'active': selectedStatus === 'REJECTED' }">
                    <a href="javascript:void(0)" (click)="filterByStatus('REJECTED')">REJECTED <span>{{ rejectedCount }}</span></a>
                  </li>
                  <li [ngClass]="{ 'active': selectedStatus === 'RESOLVED' }">
                    <a href="javascript:void(0)" (click)="filterByStatus('RESOLVED')">RESOLVED <span>{{ resolvedCount }}</span></a>
                  </li>
                </ul>
              </nav>
            <!-- Start Items Area -->
            <div class="my-items">
                <!-- Start Item List Title -->
                <div class="item-list-title">
                    <div class="row align-items-center">
                        
                        <div class="col-lg-1 col-md-1 col-12">
                            <p>Nom</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-12">
                            <p>Utilisateur</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-12">
                            <p>Série</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>Description</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>Type de Réclamation</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-12 mr-5">
                            <p>Statut</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-12">
                            <p>Pièce Jointe</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12 align-right">
                            <p>Action</p>
                        </div>
                    </div>
                </div>
                <!-- End List Title -->
                <!-- Start Single List -->
                <div class="single-item-list" *ngFor="let reclamation of filteredReclamations">
                    <div class="row align-items-center">
                       
                        <div class="col-lg-1 col-md-1 col-12">
                            <p>{{reclamation.name}}</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-12">
                            <p>{{reclamation.user.username}}</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-12">
                            <p>{{reclamation.Serie}}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>{{reclamation.description}}</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>{{reclamation.typereclamation}}</p>
                        </div>
                        <div class="col-lg-1 col-md-2 col-12 mr-5">
                            <p class="btn btn-rounded text-dark" [ngClass]="getStatusClass(reclamation.status)">
                                {{reclamation.status}}
                            </p>
                        </div>
                        
                        <div class="col-lg-1 col-md-1 col-12">
                            <a [href]="'http://localhost:5000/getimage/' + reclamation.piecejointe" target="_blank">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </a> 
                        </div>
                        
                        <div class="col-lg-2 col-md-2 col-12 align-right">
                            <ul class="action-btn">
                                <li><a href="javascript:void(0)"><i class="lni lni-pencil"></i></a></li>
                                <li><a href="javascript:void(0)"><i [routerLink]="['/dashboardUser/details-rec' , reclamation._id ]" class="lni lni-eye"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-trash"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single List -->
                <!-- Pagination -->
                <div class="pagination left">
                    <ul class="pagination-list">
                        <li><a href="javascript:void(0)">1</a></li>
                        <li class="active"><a href="javascript:void(0)">2</a></li>
                        <li><a href="javascript:void(0)">3</a></li>
                        <li><a href="javascript:void(0)">4</a></li>
                        <li><a href="javascript:void(0)"><i class="lni lni-chevron-right"></i></a></li>
                    </ul>
                </div>
                <!--/ End Pagination -->
            </div>
            <!-- End Items Area -->
        </div>
    </div>
</div>
