
                <!-- Start Post Ad Block Area -->
                <div class="dashboard-block mt-0">  
                    <h3 class="block-title">Ad Room</h3>
                    <div class="inner-block">
                        <!-- Start Post Ad Tab -->
                        <div class="post-ad-tab">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link" id="nav-item-details-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-item-details" type="button" role="tab"
                                        aria-controls="nav-item-details" aria-selected="false">
                                        <span class="serial">02</span>
                                        Step
                                        <span class="sub-title">Ad Details</span>
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade" id="nav-item-details" role="tabpanel"
                                    aria-labelledby="nav-item-details-tab">
                                    <!-- Start Post Ad Step Two Content -->
                                    <div class="step-two-content">
                                        <form class="default-form-style" (submit)="ajouter()">
                
                                            <div class="row">
                                                
                                              <div class="col-12">
                                                <div class="form-group">
                                                  <label>Nom*</label>
                                                  <input [(ngModel)]="reclamation.name" name="name" type="text" placeholder="Entrez le nom" required>
                                                </div>
                                              </div>
                                              <div class="col-12">
                                                <div class="form-group">
                                                  <label>Série*</label>
                                                  <input [(ngModel)]="reclamation.Serie" name="Serie" type="number" placeholder="Entrez la série" required>
                                                </div>
                                              </div>
                                              
                                             
                                              <div class="col-12">
                                                <div class="form-group">
                                                  <label>Type de réclamation*</label>
                                                  <select [(ngModel)]="reclamation.typereclamation" name="typereclamation" required>
                                                    <option *ngFor="let option of TypeReclamationOptions" [value]="option">{{ option }}</option>
                                                  </select>
                                                </div>
                                              </div>
                                                <div class="col-lg-6 col-12">
                                                    <div class="upload-input">
                                                        <input (change)="selectedimage($event)" type="file" id="upload" name="upload">
                                                        <label for="upload" class="text-center content">
                                                            <span class="text">
                                                                <span class="d-block mb-15">Drop files anywhere
                                                                    to Upload</span>
                                                                <span class=" mb-15 plus-icon"><i
                                                                        class="lni lni-plus"></i></span>
                                                                <span class="main-btn d-block btn-hover">Select
                                                                    File</span>
                                                                <span class="d-block">Maximum upload file size
                                                                    10Mb</span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                      <label>Description*</label>
                                                      <textarea [(ngModel)]="reclamation.description" name="description" rows="4" placeholder="Entrez la description" required></textarea>
                                                    </div>
                                                  </div>
                                             
                                                <div class="col-12">
                                                    <div class="form-group button mb-0">
                                                    
                                                        <button type="submit" class="btn ">Add Reclamation</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Start Post Ad Step Two Content -->
                                </div>
                            </div>
                        </div>
                        <!-- End Post Ad Tab -->
                    </div>
                </div>
                <!-- End Post Ad Block Area -->
   

  